$word-unknown-color: gray;
$word-learning-color: yellow;
$word-almost-learned-color: orange;
$word-known-color: green;
$margin-word: 5px;

.word {
    margin-right: $margin-word;
    margin-bottom: $margin-word;
    padding: 3px;
    border-radius: 10px;
}

.word-unknown {
    background-color: $word-unknown-color;
}

.word-learning {
    background-color: $word-learning-color;
}

.word-almost-learned {
    background-color: $word-almost-learned-color;
}

.word-known {
    background-color: $word-known-color;
}

